*{
    margin:0;
    padding:0;
}

.container{
    height: 90vh;
    width: 50%;
    margin: 0 auto;
   display: flex;
   flex-direction: column;   
   align-items: center;
   gap:1rem;  
   padding-top: 1.5rem;
   background-color: #edf2f4;
   border:1px solid rgb(53, 52, 52)
   
}
h2{
    font-size: 2.5rem;
}

#displayAns{
    padding: 1.5rem;
    width: 350px;
    border-radius: 0.5rem;
    border: 1px solid black;
    font-size: 2rem;

}
.num{
    display: grid;
    grid-template-columns: repeat(3,120px);
    gap:0.5rem;
    
}



.btn{
    padding:1rem;
    font-size: 2rem;   
    background-color: white;  
    border-radius: 0.5rem;
    border: 1px solid black;
   
}


.btn:hover{
   box-shadow: 1px  1px 3px black; 
}