body{
    background-color: rgb(9, 9, 54);
   display: flex;
   justify-content: center;
   align-items: center;
    height: 100vh;
    gap:3rem;
}

.counter-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    
    color:white;
}
.counter{
    color: rgb(244, 182, 25);
    font-size: 3rem;
}

span{
    font-size:1.5rem;
}